<!DOCTYPE html>
<html>
<head>
    <title>Keylogger Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Real-time Keylogger Dashboard</h1>
        <div id="log" class="border p-3 mb-4"></div>
        <h2 class="my-4">Screenshots</h2>
        <div id="screenshots" class="border p-3"></div>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>